/*NAVIGATION*/

.LinkAccomode {
  color: #0065fc;
}

.LinkActivity {
  color: black;
}

.LinkRegister {
  color: #0065fc;
}

.SizeLink {
  width: 45%;
}

.SizeLinkNav {
  width: 100px;
  height: 99px;
}

.DecorationNo {
  text-decoration: none;
}

.BorderNav {
  border-top: 2px solid;
  color: #0065fc;
  width: 110px;
}

.flexBtw {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flexAro {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.Centerflex {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* FILTRES */

.filtre {
  display: flex;
  align-items: center;
}

.marginfilter {
  margin-top: 50px;
  margin-bottom: 40px;
}

.margFiltertitle {
  margin-right: 20px;
}

.textfilterIcons {
  border: 2px solid #f2f2f2;
  height: 50px;
  border-radius: 25px;
  margin-right: 19px;
}

.Icons-Text {
  border-radius: 25px;
  width: 52px;
  height: 52px;
  color: #0065fc;
  background-color: #deebff;
}
.textfilterIcons:hover > .filter-text-hover {
  color: #0065fc;
  cursor: pointer;
  padding-left: 20px;
  padding-right: 20px;
}

.textfilterIcons:hover > .Icons-Text {
  margin-left: -2px;
  color: white;
  background-color: #0065fc;
  cursor: pointer;
}

.filter-text-hover {
  padding-right: 20px;
  padding-left: 20px;
}

/*INFO*/

.informations {
  display: flex;
  align-items: center;
  font-family: raleway;
  margin-top: -26px;
}

.icon-info {
  height: 20px;
  width: 20px;
  border: 2px solid #f2f2f2;
  border-radius: 25px;
  margin-right: 5px;
  color: #0065fc;
}

.show-more {
  padding-top: 46px;
  padding-left: 2px;
  font-weight: bold;
}

/*HEBERGEMENT*/

.Accomod-Size {
  height: 650px;
  flex: 2;
  background-color: #f2f2f2;
  border-radius: 10px;
  padding-right: 21px;
  padding-left: 35px;
  margin-top: 25px;
  margin-left: 15px;
}

.Size-Most-Popular {
  height: 650px;
  margin-left: 32px;
  border-radius: 10px;
  flex: 1;
  background-color: #f2f2f2;
  margin-top: 25px;
}

.Card-Cannebière {
  background-image: url("./img/hebergements/4_small/marcus-loke-WQJvWU_HZFo-unsplash.jpg");
  width: 100%;
  height: 120px;
  background-size: cover;
  background-position: center;
  border-radius: 15px 15px 0 0;
}
.Card-Hostel-Port {
  background-image: url("./img/hebergements/4_small/fred-kleber-gTbaxaVLvsg-unsplash.jpg");
  width: 100%;
  height: 120px;
  background-size: cover;
  background-position: center;
  border-radius: 15px 15px 0 0;
}
.Card-Hostel-Mouette {
  background-image: url("./img/hebergements/4_small/reisetopia-B8WIgxA_PFU-unsplash.jpg");
  width: 100%;
  height: 120px;
  background-size: cover;
  background-position: center;
  border-radius: 15px 15px 0 0;
}
.Card-Hostel-Beach {
  background-image: url("./img/hebergements/4_small/annie-spratt-Eg1qcIitAuA-unsplash.jpg");
  width: 100%;
  height: 120px;
  background-size: cover;
  background-position: center;
  border-radius: 15px 15px 0 0;
}
.Card-Hostel-Auberge {
  background-image: url("./img/hebergements/4_small/nicate-lee-kT-ZyaiwBe0-unsplash.jpg");
  width: 100%;
  height: 120px;
  background-size: cover;
  background-position: center;
  border-radius: 15px 15px 0 0;
}
.Card-Hostel-Amina {
  background-image: url("./img/hebergements/4_small/febrian-zakaria-M6S1WvfW68A-unsplash.jpg");
  width: 100%;
  height: 120px;
  background-size: cover;
  background-position: center;
  border-radius: 15px 15px 0 0;
}
.flex-size-icons {
  display: grid;
  justify-content: space-between;
  align-items: center;
  grid-template-columns: 20% 20% 20%;
  margin-right: 90px;
}

.Hebergement-cannebière {
  height: 225px;
  background-color: white;
  width: 169%;
  padding: 5%;
  border-radius: 16px;
}

.Hebergement-port {
  height: 225px;
  background-color: white;
  width: 169%;
  padding: 5%;
  border-radius: 16px;
  margin-left: -13px;
}
.Hebergement-mouettes {
  height: 225px;
  background-color: white;
  width: 166%;
  padding: 5%;
  border-radius: 16px;
  margin-left: -30px;
}
.Hebergement-Beach {
  height: 225px;
  background-color: white;
  width: 169%;
  padding: 5%;
  border-radius: 16px;
  margin-bottom: -41px;
  margin-left: 1px;
}
.Hebergement-Auberge {
  height: 225px;
  background-color: white;
  width: 169%;
  padding: 5%;
  border-radius: 16px;
  margin-left: -11px;
  margin-bottom: -41px;
}
.Hebergement-Amina {
  height: 225px;
  background-color: white;
  width: 165%;
  padding: 5%;
  border-radius: 16px;
  margin-left: -27px;
  margin-bottom: -15px;
  margin-top: 28px;
  padding: 8px;
}

.flexcolumnmarg-cannebière {
  margin-top: -10px;
  margin-left: 15px;
}
.flexcolumnmarg-Amina {
  margin-top: -10px;
  margin-left: 15px;
}

.flexcolumnmarg-beach {
  margin-left: 15px;
  margin-top: -10px;
}

.flexcolumnmarg-mouettes {
  margin-top: -10px;
  margin-left: 15px;
}

.flexcolumnmarg-panier {
  margin-top: -10px;
  margin-left: 15px;
}

.flexcolumnmarg-port {
  margin-top: -10px;
  margin-left: 15px;
}
.color-star-blue {
  color: #0065fc;
}

.color-star-grey {
  color: #f2f2f2;
}

/*MOSTPOPULAR*/

.Flex-Most-Popular {
  font-weight: bold;
}

.icon-most {
  display: flex;
  margin-left: 75%;
  justify-content: center;
  margin-top: -45px;
}

.Bloc-Most-Popular {
  padding-left: 20px;
  padding-right: 20px;
}

.Popular-most-sun {
  background-image: url("./img/hebergements/4_small/emile-guillemot-Bj_rcSC5XfE-unsplash.jpg");
  background-size: cover;
  width: 60%;
  height: 159px;
  border-radius: 15px 0 0 15px;
  margin-top: 1%;
  display: flex;
  background-position: center;
}

.Most-Title-Night-Price {
  background-color: white;
  display: flex;
  width: 78%;
  height: 24%;
  padding: 1px;
  padding-top: 3px;
  padding-left: 7px;
  margin-top: 9%;
  margin-left: 11px;
  border-radius: 16px 16px 16px 16px;
  padding-bottom: 13px;
}

.size-title {
  margin-bottom: 20px;
}

.size-room {
  margin-bottom: 20px;
}

/* SEARCH */

.search-text {
  font-family: raleway;
}

.Flexsearch {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.flexctre {
  display: flex;
  justify-content: center;
  align-items: center;
}

.searchborder {
  width: 400px;
  border-radius: 10px;
  border: 0.2px solid #f2f2f2;
}

.iconSize {
  height: 200px;
  width: 160px;
}

.backgris {
  height: 45px;
  width: 50px;
  background-color: #f2f2f2;
}

.ResearchBar {
  padding: 20px;
  border: none;
  height: 50px;
  width: 220px;
  font-size: 18px;
  font-weight: bold;
  border-radius: #f2f2f2;
}
.buttonsearch {
  color: white;
  height: 50px;
  background-color: #0065fc;
  width: 130px;
  cursor: pointer;
  border-radius: 0 15px 15px 0;
}
