/*NAVIGATION*/

@font-face {
  font-family: "Raleway";
  src: url(./assets/Raleway/static/Raleway-Medium.ttf);
}

* {
  font-family: "Raleway", Sans-serif;
  box-sizing: border-box;
}

.logo {
  flex-direction: row;
}

.LinkAccomode {
  color: #0065fc;
}

.LinkActivity {
  color: black;
  margin-top: 3px;
}

.LinkRegister {
  color: #0065fc;
}

.SizeLink {
  width: 45%;
}

.SizeLinkNav {
  width: 100px;
  height: 99px;
}

.DecorationNo {
  text-decoration: none;
}

.BorderNav {
  border-top: 2px solid #0065fc;
  width: 110px;
}

.sizeLinkone-two {
  margin-left: 73%;
}

.flexBtw {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flexBtw-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flexAro {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.Centerflex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flexHebergement-Activity {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* FILTRES */
.flexAround-filter {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.filtre {
  display: flex;
  align-items: center;
}

.marginfilter {
  margin-top: 50px;
  margin-bottom: 40px;
}

.margFiltertitle {
  margin-right: 20px;
}

.textfilterIcons {
  border: 2px solid #f2f2f2;
  height: 50px;
  border-radius: 25px;
  margin-right: 19px;
}

.Icons-Text {
  border-radius: 25px;
  width: 52px;
  height: 52px;
  color: #0065fc;
  background-color: #deebff;
}
.textfilterIcons:hover > .filter-text-hover {
  color: #0065fc;
  cursor: pointer;
  padding-left: 20px;
  padding-right: 20px;
}

.textfilterIcons:hover > .Icons-Text {
  margin-left: -2px;
  color: white;
  background-color: #0065fc;
  cursor: pointer;
}

.filter-text-hover {
  padding-right: 20px;
  padding-left: 20px;
}

.flex-fam-economique {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

/*INFO*/

.informations {
  display: flex;
  align-items: center;
  font-family: "raleway";
}

.icon-info {
  height: 20px;
  width: 20px;
  border: 2px solid #f2f2f2;
  border-radius: 25px;
  margin-right: 5px;
  color: #0065fc;
  display: flex;
  justify-content: center;
}

.show-more {
  padding-top: 25px;
  padding-left: 2px;
  font-weight: bold;
}
/*HEBERGEMENT*/

.Accomod-Size {
  height: 650px;
  flex: 2;
  background-color: #f2f2f2;
  border-radius: 10px;
  padding-right: 21px;
  padding-left: 35px;
  margin-top: 25px;
  margin-left: 3px;
}

.Size-Most-Popular {
  height: 650px;
  margin-left: 32px;
  border-radius: 10px;
  flex: 1;
  background-color: #f2f2f2;
  margin-top: 25px;
}

.Card-Auberge-Cannebière {
  width: 100%;
  height: 120px;
  background-size: cover;
  background-position: center;
  border-radius: 15px 15px 0 0;
}
.Card-Hostel-Port {
  width: 100%;
  height: 120px;
  background-size: cover;
  background-position: center;
  border-radius: 15px 15px 0 0;
}
.Card-Hostel-Mouettes {
  width: 100%;
  height: 120px;
  background-size: cover;
  background-position: center;
  border-radius: 15px 15px 0 0;
}
.Card-Hostel-Beach {
  width: 100%;
  height: 120px;
  background-size: cover;
  background-position: center;
  border-radius: 15px 15px 0 0;
}

.Hebergement-content-Auberge {
  background-color: white;
  border-radius: 15px 15px 15px 15px;
  padding-right: 6px;
  padding-top: 6px;
  padding-left: 5px;
  margin-right: 13px;
  margin-bottom: -23px;
  box-shadow: 5px 5px 5px 1px #f2f2f2;
}
.Card-Hostel-Auberge {
  width: 100%;
  height: 120px;
  background-size: cover;
  background-position: center;
  border-radius: 15px 15px 0 0;
}

.Hebergement-content-Amina {
  background-color: white;
  border-radius: 15px 15px 15px 15px;
  padding-right: 6px;
  padding-top: 6px;
  padding-left: 4px;
  margin-right: 13px;
  margin-top: 23px;
  box-shadow: 5px 5px 5px 1px #f2f2f2;
}

.Card-Hostel-Amina {
  width: 100%;
  height: 120px;
  background-size: cover;
  background-position: center;
  border-radius: 15px 15px 0 0;
}

.flex-size-icons {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr 1fr;
}

.Hebergement-content-cannebière {
  background-color: white;
  border-radius: 15px 15px 15px 15px;
  padding-right: 6px;
  padding-top: 5px;
  padding-left: 5px;
  padding-bottom: 6px;
  margin-right: 13px;
  box-shadow: 5px 5px 5px 1px #f2f2f2;
}

.Hebergement-content-port {
  background-color: white;
  border-radius: 15px 15px 15px 15px;
  padding-right: 6px;
  padding-top: 5px;
  padding-left: 6px;
  margin-right: 13px;
  box-shadow: 5px 5px 5px 1px #f2f2f2;
}
.Hebergement-content-mouettes {
  background-color: white;
  border-radius: 15px 15px 15px 15px;
  padding-right: 6px;
  padding-top: 4px;
  padding-left: 6px;
  margin-right: 13px;
  box-shadow: 5px 5px 5px 1px #f2f2f2;
}
.Hebergement-content-Beach {
  background-color: white;
  border-radius: 15px 15px 15px 15px;
  padding-right: 5px;
  padding-top: 6px;
  padding-left: 6px;
  margin-right: 13px;
  margin-top: 24px;
  padding-bottom: 6px;
  box-shadow: 5px 5px 5px 1px #f2f2f2;
}

.Hebergement-content-cannebière:hover {
  transform: scale(1.1);
}

.Hebergement-content-port:hover {
  transform: scale(1.1);
}

.Hebergement-content-mouettes:hover {
  transform: scale(1.1);
}

.Hebergement-content-Beach:hover {
  transform: scale(1.1);
}

.Hebergement-content-Auberge:hover {
  transform: scale(1.1);
}
.Hebergement-content-Amina:hover {
  transform: scale(1.1);
}
.image-card-cannebière {
  width: 100%;
  height: 120px;
  background-size: 100%;
  border-radius: 20px 20px 0 0;
  object-fit: cover;
}

.image-card-port {
  width: 100%;
  height: 120px;
  background-size: 100%;
  border-radius: 20px 20px 0 0;
  object-fit: cover;
}

.image-card-Mouettes {
  width: 100%;
  height: 120px;
  background-size: 100%;
  border-radius: 20px 20px 0 0;
  object-fit: cover;
}

.image-card-beach {
  height: 100%;
  background-size: 100%;
  border-radius: 20px 20px 0 0;
  object-fit: cover;
  width: 100%;
}

.image-card-Auberge {
  height: 100%;
  background-size: 100%;
  border-radius: 20px 20px 0 0;
  object-fit: cover;
  width: 100%;
}

.image-card-Amina {
  width: 100%;
  height: 120px;
  background-size: 100%;
  border-radius: 20px 20px 0 0;
  object-fit: cover;
}

.flexcolumnmarg-cannebière {
  margin-top: -10px;
  padding-left: 15px;
}
.flexcolumnmarg-Amina {
  margin-top: -10px;
  margin-left: 15px;
}

.flexcolumnmarg-beach {
  margin-left: 15px;
  margin-top: -10px;
}

.flexcolumnmarg-mouettes {
  margin-top: -10px;
  margin-left: 15px;
}

.flexcolumnmarg-panier {
  margin-top: -10px;
  margin-left: 15px;
}

.flexcolumnmarg-port {
  margin-top: -10px;
  margin-left: 15px;
}
.color-star-blue {
  color: #0065fc;
}

.color-star-grey {
  color: #f2f2f2;
}

/*MOSTPOPULAR*/

.flex-align-center {
  align-items: center;
  display: flex;
}

.Flex-Most-Popular {
  font-weight: bold;
}

.icon-most {
  display: flex;
  margin-left: 100%;
  justify-content: center;
  margin-top: -41px;
}

.Bloc-Most-Popular {
  padding-left: 20px;
  padding-right: 20px;
}

.Popular-card-most-sun-one {
  background-image: url("./img/hebergements/4_small/emile-guillemot-Bj_rcSC5XfE-unsplash.jpg");
  background-size: cover;
  width: 39%;
  height: 122px;
  border-radius: 15px 0 0 15px;
  background-position: center;
}

.Popular-card-most-two {
  background-image: url("./img/hebergements/4_small/aw-creative-VGs8z60yT2c-unsplash.jpg");
  background-size: cover;
  width: 48%;
  height: 120px;
  border-radius: 15px 0 0 15px;
  padding-right: 48px;
  padding-top: 13px;
  background-position: center;
}

.Popular-card-most-three {
  background-image: url("./img/hebergements/4_small/febrian-zakaria-sjvU0THccQA-unsplash.jpg");
  background-size: cover;
  width: 38%;
  padding-top: 6px;
  height: 120px;
  border-radius: 15px 0 0 15px;
  background-position: center;
}

.Most-Title-Night-Price {
  background-color: white;
  margin-top: 47px;
  padding-left: 5px;
  padding-bottom: 5px;
  padding-top: 3px;
  border-radius: 20px 20px 20px 20px;
}

.Most-Title-Night-Price:hover {
  transform: scale(1.1);
}

.more-détails-most-1 {
  padding-top: 2px;
  padding-bottom: 7px;
  padding-left: 20px;
}

.more-détails-most-2 {
  padding-left: 23px;
  padding-bottom: 4px;
}

.more-détails-most-3 {
  padding-left: 25px;
  padding-bottom: 2px;
}

.size-title {
  margin-bottom: 20px;
}

.size-room {
  margin-bottom: 20px;
}

/* ACTIVITY */

.height-title {
  height: 70px;
}

.Activity {
  margin-top: 50px;
  margin-bottom: 50px;
}

.Activity-bloc {
  height: 600px;
  width: 100%;
}

.Activity-bloc2356 {
  height: 600px;
  width: 23%;
}

.image-card-vieux-port {
  background-size: cover;
  width: 100%;
  height: 530px;
  border-radius: 15px 15px 0 0;
  background-position: center;
  object-fit: cover;
}

.image-card-fort-de-pomègues {
  background-size: cover;
  width: 100%;
  height: 250px;
  border-radius: 15px 15px 0 0;
  background-position: center;
  object-fit: cover;
}

.image-card-îles-du-frioul {
  background-size: cover;
  width: 100%;
  height: 150px;
  border-radius: 15px 15px 0 0;
  background-position: center;
  object-fit: cover;
}

.image-card-parc-calanques {
  background-size: cover;
  width: 100%;
  height: 530px;
  border-radius: 15px 15px 0 0;
  background-position: center;
  object-fit: cover;
}

.image-card-notre-dame {
  background-size: cover;
  width: 100%;
  height: 200px;
  border-radius: 15px 15px 0 0;
  background-position: center;
  object-fit: cover;
}

.image-card-parc-longchamps {
  background-size: cover;
  width: 100%;
  height: 200px;
  border-radius: 15px 15px 0 0;
  background-position: center;
  object-fit: cover;
}

.more-details-activity {
  width: 23%;
  border-radius: 15px;
  box-shadow: 5px 5px 5px 1px #f2f2f2;
}

.more-details-activity:hover {
  transform: scale(1.1);
}

.title-activity {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 15px;
  width: 95%;
}

.blocActivity-2356 {
  width: 100%;
  border-radius: 15px;
  box-shadow: 5px 5px 5px 1px #f2f2f2;
  margin-bottom: 60px;
}

.blocActivity-2356:hover {
  transform: scale(1.1);
}

.flex-Activities {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* SEARCH */

.buttonsearch-desktop {
  display: none;
}

.search-text {
  font-family: raleway;
}

.Flexsearch {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.flexctre {
  display: flex;
  justify-content: center;
  align-items: center;
}

.searchborder {
  width: 400px;
  border-radius: 10px;
  border: 0.2px solid #f2f2f2;
}

.iconSize {
  height: 200px;
  width: 160px;
}

.backgris {
  height: 50px;
  width: 50px;
  background-color: #f2f2f2;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.ResearchBar {
  padding: 20px;
  border: none;
  height: 50px;
  width: 220px;
  font-size: 18px;
  font-weight: bold;
  border-radius: #f2f2f2;
}
.buttonsearch {
  color: white;
  height: 50px;
  background-color: #0065fc;
  width: 130px;
  cursor: pointer;
  /* border-radius: 0 15px 15px; */
}

/* FOOTER */

.color-footer {
  background-color: #f2f2f2;
}

.height-bloc1 {
  height: 150px;
}

.height-bloc2 {
  height: 150px;
}

.height-bloc3 {
  height: 150px;
}

.mrgin-bloc1 {
  margin-left: 10%;
}

.mrgin-bloc3 {
  margin-right: 10%;
}

.flexBtw-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding-left: 10px; */
}

/*RESPONSIVE*/

@media screen and (max-width: 1440px) {
  .sizeLinkone-two {
    margin-left: 70%;
  }

  .flex-size-icons {
    min-height: 150px;
  }
}
.Size-Most-Popular {
  min-height: auto;
}

@media screen and (max-width: 990px) {
  .marginfiltercolumns-mobile {
    flex-direction: column;
    align-items: flex-start;
  }
  .flexBtw {
    margin-bottom: 20px;
  }

  .image-card-vieux-port {
    height: 230px;
  }

  .image-card-parc-calanques {
    height: 230px;
  }

  #Hosting {
    flex-direction: column-reverse;
    width: 100%;
  }
  .Bloc-Most-Popular {
    flex: none;
    width: 90%;
    margin-left: 0;
  }

  .Accomod-Size {
    width: 89%;
  }

  .flex-size-icons {
    grid-template-columns: 1fr 1fr;
  }

  .Popular-card-most-two {
    width: 39%;
  }
  .Popular-card-most-three {
    width: 39%;
  }

  .Activity-bloc {
    flex-direction: column;
    height: auto;
  }

  .more-details-activity {
    width: 100%;
  }

  .Activity-bloc2356 {
    width: 100%;
    height: auto;
  }
}

@media screen and (max-width: 770px) {
  .sizeLinkone-two {
    margin-left: 20%;
  }
  .Accomod-Size {
    height: auto;
  }

  .logo {
    padding-right: 190px;
  }

  .flex-size-icons {
    grid-template-columns: 2fr;
  }

  .Activity-bloc {
    flex-direction: column;
    height: auto;
  }

  .more-details-activity {
    width: 100%;
  }

  .Activity-bloc2356 {
    width: 100%;
    height: auto;
  }

  .image-card-parc-calanques
    .image-card-îles-du-frioul
    .image-card-notre-dame
    .image-card-parc-longchamps
    .image-card-fort-de-pomègue
    .image-card-vieux-port {
    height: 200px;
  }

  .blocActivity-2356 {
    margin-bottom: 50px;
    margin-top: 50px;
  }

  .Hebergement-content-Amina {
    margin-top: 10%;
  }

  .Hebergement-content-Beach {
    margin-top: 10%;
  }

  .Hebergement-content-Auberge {
    margin-top: 10%;
  }

  .Hebergement-content-cannebière {
    margin-top: 10%;
  }

  .Hebergement-content-mouettes {
    margin-top: 10%;
  }

  .Hebergement-content-port {
    margin-top: 10%;
  }

  .height-footer {
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
  }

  .mrgin-bloc1 {
    margin-left: 0;
  }

  .Popular-card-most-two {
    width: 39%;
  }

  .flexBtw-nav {
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    justify-content: flex-end;
  }
}

@media screen and (max-width: 600px) {
  .sizeLinknav {
    flex-direction: row;
  }

  .title-activity {
    padding-left: 15px;
  }

  .logo-container {
    width: 100px;
    float: left;
    display: flex;
    flex: auto;
  }

  .logo {
    padding-right: 282px;
  }

  .image-card-parc-calanques {
    height: 200px;
  }

  .sizeLinkone-two {
    order: 1;
    width: 100%;
    margin-left: 0;
  }

  .Popular-card-most-sun-one {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .Mobilesize {
    width: 100%;
    border-top: none;
    border-bottom: 3px solid #f2f2f2;
    padding-bottom: -9px;
    height: 30px;
  }
  .Mobilesize:hover {
    border-top: 0;
    border-bottom: 3px solid #0065fc;
  }
  .flexBtw-nav {
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
  }

  .searchborder {
    width: 320px;
    border: none;
  }

  .ResearchBar {
    border: 1px solid #f2f2f2;
  }

  .buttonsearch {
    width: 50px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
  }

  .Économy-mobile {
    margin-right: 5px;
  }

  .familly-mobile {
    margin-right: 0;
  }

  .informations {
    padding-left: 2%;
  }

  .filter-text-hover {
    padding-left: 5px;
    padding-right: 10px;
  }

  .buttonsearch-desktop {
    display: block;
  }

  .mobilenonesearch {
    display: none;
  }

  .title-mobile {
    padding-left: 5%;
  }

  .Mobile-reservia-logo {
    padding-left: 5%;
  }

  .marginfilter {
    padding-left: 5%;
  }

  .Bloc-Most-Popular {
    border-radius: 0;
  }

  .Accomod-Size {
    background-color: white;
  }

  .Activity-bloc {
    padding: 5%;
    width: 90%;
  }
  .LinkAccomode {
    padding-bottom: -4px;
  }
  .LinkActivity {
    padding-left: 10%;
  }
}
